#home-page-carousel {
    .arrow-button {
        position: absolute;
        z-index: 1;
        height: 100%;
        background: transparent;
        cursor: pointer;
        width: 100px;
        border: 0px;
        &-left {
            left: 0;
        }
        &-right {
            right: 0;
        }
    }
}

#home-page-carousel-service-pack {
    .arrow-button {
        position: absolute;
        z-index: 1;
        height: 100%;
        background: transparent;
        cursor: pointer;
        width: 100px;
        border: 0px;
        &-left {
            left: 0;
        }
        &-right {
            right: 0;
        }
    }
    text-align: center;
}
