.wrapper {
    min-height: 100vh !important;
    &-content {
        position: relative;
        padding: 24px;
    }
}

.main-content {
    min-height: calc(100% - 46px);
    background-color: #fff;
}

.content-padding {
    padding: 24px;
}

.white-background {
    background-color: #fff;
}
