.text {
    &-center {
        text-align: center;
    }

    &-blue {
        color: #035690;
    }

    &-orange {
        color: #fd6436;
    }

    &-green {
        color: #62b046;
    }

    &-black {
        color: black;
    }
}

.m {
    &t {
        &-3{
            margin-top: 3px;
        }

        &-5 {
            margin-top: 5px;
        }

        &-8 {
            margin-top: 8px;
        }

        &-10 {
            margin-top: 10px;
        }

        &-15 {
            margin-top: 15px;
        }

        &-20 {
            margin-top: 20px;
        }

        &-25 {
            margin-top: 25px;
        }
    }

    &b {
        &-5 {
            margin-bottom: 5px;
        }
        &-10 {
            margin-bottom: 10px;
        }
        &-15 {
            margin-bottom: 15px;
        }
        &-20 {
            margin-bottom: 20px;
        }
        &-25 {
            margin-bottom: 25px;
        }
        &-100 {
            margin-bottom: 100px;
        }
        &-200 {
            margin-bottom: 200px;
        }
        &-250 {
            margin-bottom: 250px;
        }
        &-300 {
            margin-bottom: 300px;
        }
    }
}

.front-size {
    &-10 {
        font-size: 10px;
    }
    &-15 {
        font-size: 15px;
    }
    &-20 {
        font-size: 20px;
    }
    &-25 {
        font-size: 25px;
    }
    &-30 {
        font-size: 30px;
    }
}

.bg {
    &-transparent {
        background: transparent;
    }
}

.display {
    &-flex {
        display: flex;
    }

    &-min-width {
        width: 1px;
    }
}

.btn {
    &--green {
        background-color: #99f3bd;
        color: black;
    }

    &--red {
        background-color: #fc9d9d;
        color: black;
    }

    &--yellow {
        background-color: #fcf876;
        color: black;
    }
}

.float {
    &-right {
        float: right;
    }

    &-left {
        float: left;
    }
}

.full-width {
    width: 100%;
}
