.text {
    &--center {
        text-align: center;
    }

    &--blue {
        color: #035690;
    }

    &--orange {
        color: #FD6436;
    }

    &--green {
        color: #62B046;
    }
}

.mt {
    &-5 {
        margin-top: 5px;
    }
    &-10 {
        margin-top: 10px;
    }
    &-15 {
        margin-top: 15px;
    }
    &-20 {
        margin-top: 20px;
    }
    &-25 {
        margin-top: 25px;
    }
}

.bg {
    &--transparent {
        background: transparent;
    }
}

.display {
    &-flex {
        display: flex;
    }

    &-min-width {
        width: 1px;
    }
}